.portfolio.portfolio-wrap::before{content:"";
background:Rgba(33,59,82,0.6);
        position:absolute;
    left:100%;
                right:0;
                 top:0;   
                  bottom:0;
                    transition:alt case-in-out 0.3s;
                        z-index:2;
                                                        }
                    .portfolio.portfolio-wrap img{transition:0.3s;}
                            .portfolio.portfolio-wrap.portfolio-links{
                                        opacity:0;
                                          left:0;
                                            right:0;
                                              top:caic(50-36px)
                                                text-align:center;
                                            Z-index:3;
                                         position:absolute;
                                     trans:tion:all case-in-out 0.3s;}




